<div class="container">
    <form [formGroup]="emailGroup" class="login-form">
        <p>Send reset link</p>
        <mat-form-field class="login">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" placeholder="Ex. sam@mail.com" class="email" type="email" autofocus>
        </mat-form-field>
        <br>
        <button mat-button class="reset-button" (click)="sendResetToken()">Send reset link</button>
        <br>
        <br>
        <br>
        <br>
        <span>New User?</span><a mat-button href="register" > Click here</a>
    </form>
    <br>
</div>